{% load static %}
<!doctype html>
<html lang="en" style="overflow-x:hidden">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>

     <!-- Static CSS -->
     <link rel="stylesheet" href="https://cdn.materialdesignicons.com/1.1.34/css/materialdesignicons.min.css">
     <link rel="stylesheet" href="{% static 'css/forMobileDevice.css'%}">
     <link rel="stylesheet" href="{% static 'css/loading.css'%}">

     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  </head>
  <body>

    <div id="mobile" style="min-height:100%; min-height:100vh; align-items:center; background-color:#007bff">
        <div class="container" id="mobile1" style="background-color:#007bff">
            <!-- For Mobile -->
            <div class="row">
              <div class="col-12 text-center" style="color:white; font-size:1.5em">
                <i class="mdi mdi-alert-circle" style="font-size:2em"></i>
              </div>
              <div class="col-12 text-center" style="color:white; font-size:1.5em">
                  This site is not available on mobile
              </div>
            </div>
        </div>
    </div>


  <div class="alert alert-success alert-dismissible fade show" id="RegSuccess" role="alert" style="display:none">
      <h4 class="alert-heading">Thank you for registering!</h4>
      <p>We will be reviewing your account for verification purposes. Please check your email for notifications. The account will only be activated once we've verified your account.</p>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>

    <!-- Above spaces -->
    <div id="extra" style="width:100vw; height:5vh; color:transparent; background-color:transparent">SPACE</div>
    <div class="container" id="first" style="position:relative">
        <div class="float-right">
            <button type="button" class="btn btn-outline-primary btn-sm" style="border-radius:3.25rem" data-toggle="modal" data-target="#register"><i class="mdi mdi-account-plus"></i> Register</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-outline-primary btn-sm" style="border-radius:3.25rem" data-toggle="modal" data-target="#loginModal"><i class="mdi mdi-login"></i> Sign-in</button>
        </div>

        <!-- Above spaces -->
        <div style="height:10vh; color:transparent">SPACE</div>

        <div class="mx-auto" style="width:700px; font-size:2.5em; text-align:center">Text Trainer and Classifier Tool</div>
        <div class="mx-auto" style="width:600px; font-size:1.3em; text-align:center">Predict/Classify Data by Using Trained Models!</div>

        <!-- Above spaces -->
        <div style="height:15vh; color:transparent">SPACE</div>
        <div class="row">
            <div class="col-12 text-center">
                <button type="button" id="train" class="btn btn-outline-primary btn-lg">Train a model</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" id="predict" class="btn btn-outline-primary btn-lg active" data-toggle="tooltip" data-placement="top" title="Tip: Train a model first before predicting data!">Predict data</button>
            </div>
        </div>

        <!-- Above spaces -->
        <div style="height:20vh; color:transparent">SPACE</div>
    </div>
    <div class="container" id="second">
        <div style="width:600px; font-size:1.3em;">Recently Trained Models <span id="numModels" style="font-size:0.6em; color:#1861b0">Check my models (3)</span></div>


        <!-- Above spaces -->
        <div style="height:10vh; color:transparent">SPACE</div>

        <div class="row"><!--Row start (3) -->
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
        </div> <!-- End of row -->

        <!-- Above spaces -->
        <div style="height:5vh; color:transparent">SPACE</div>

        <div class="float-right">
            <div id="otherModels" style="font-size:0.9em; color:#1861b0">Check other models ></div>
        </div>


        <!-- Above spaces -->
        <div style="height:20vh; color:transparent">SPACE</div>
    </div>

    <!-- Modal -->
    <div id="register" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="alert alert-danger" role="alert" id="RegError1" style="display:none">
      Error: <span class="alert-link">Invalid Email</span>. Please enter a valid existing email.
    </div>
    <div class="alert alert-danger" role="alert" id="RegError2" style="display:none">
      Error: <span class="alert-link">Invalid Password</span>. Please follow the guidelines for the password inside the tooltip.
    </div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Register</h3>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="loader" id="loader-1A" style="display:none"></div>
                <form class="form" role="form" autocomplete="off" id="formLogin" novalidate="" method="POST" action="/register/">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="uname2">Email</label>
                        <input type="email" class="form-control form-control-lg" name="uname2" id="uname2" required="">
                        <div class="invalid-feedback">Oops, remember to input a valid email.</div>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input  data-toggle="tooltip" data-placement="right" title="Enter at least 8 characters with a big and small character, a number and a special character (without spaces)" type="password" class="form-control form-control-lg" id="pwd2" required="" autocomplete="new-password">
                        <div class="invalid-feedback">Enter your password too!</div>
                    </div>
                    <div class="form-group py-4">
                        <button type="submit" class="btn btn-primary btn-lg float-right" id="btnLogin">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

    <div id="loginModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Sign-in</h3>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <form class="form" role="form" autocomplete="off" id="formLogin2" novalidate="" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <a href=" " class="float-right">Forgot password?</a>
                        <label for="uname1">Email</label>
                        <input type="email" class="form-control form-control-lg" name="uname1" id="uname1" required="">
                        <div class="invalid-feedback">Oops, remember to input a valid email.</div>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control form-control-lg" id="pwd1" required="" autocomplete="new-password">
                        <div class="invalid-feedback">Enter your password too!</div>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="rememberMe">
                      <label class="custom-control-label" for="rememberMe">Remember me on this computer</label>
                    </div>
                    <div class="form-group py-4">
                        <button type="submit" class="btn btn-primary btn-lg float-right" id="btnLogin">Sign-in</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()

            $('#train').hover(function(){
                $(this).addClass("active")
                $('#predict').removeClass("active")
            });

            $('#predict').hover(function(){
                $(this).addClass("active")
                $('#train').removeClass("active")
            });

            $('#numModels').hover(function(inFunction){
                $(this).css('text-decoration', 'underline')
                $(this).css('cursor', 'pointer')
            },
            function(outFunction){
                $(this).css('text-decoration', 'none')
            }
            );

            $('#otherModels').hover(function(inFunction){
                $(this).css('text-decoration', 'underline')
                $(this).css('cursor', 'pointer')
            },
            function(outFunction){
                $(this).css('text-decoration', 'none')
            }
            );
        })

        $("#btnLogin").click(function(event) {

            //Fetch form to apply custom Bootstrap validation
            var form = $("#formLogin")
            if (form[0].checkValidity() === false) {
                event.preventDefault()
                event.stopPropagation()
            }

            form.addClass('was-validated');
        });

    </script>
    <script>
        $(document).on('submit', '#formLogin', function(e){
            e.preventDefault();
            $('#loader-1A').removeAttr('style')
            $('#formLogin').attr("style", "display:none")
            $.ajax({
                type:'POST',
                url: '/register/',
                data:{
                    emailReg: $('#uname2').val(),
                    passwordReg: $('#pwd2').val(),
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                },
                success: function(data){
                    $('#formLogin').removeAttr('style')
                    $('#loader-1A').attr("style", "display:none")
                    $('.alert').attr("style", "display:none")
                    if (data.status == 'email not exist'){
                        $('#RegError1').removeAttr('style')
                    }else if(data.status == 'invalid password'){
                        $('#RegError2').removeAttr('style')
                    }else{
                        //success
                        $('#register').modal('toggle')
                        $('#RegSuccess').removeAttr('style')
                    }
                }
            });
        });
    </script>
  </body>
</html>
